In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('A_stat_data_112.csv')

In [4]:
df2 = df.copy()
df2.head()

,grade,mission_name,mission_difficulty,mission_field,mission_type,mission_semester_year,mission_semester,mission_datetime_utc8,mission_status,is_completed,...,answer_duration_sec,mission_answer_count,content_indicator_correct_rate,comprehensive_indicator_correct_rate,explanation_indicator_correct_rate,extraction_indicator_correct_rate,form_indicator_correct_rate,first_correct_rate,user_id,mission_id
0,5,05/06 虎姑婆【多元文化教育－傳說故事】（初階）,易,文學,連續,112,112-2,Mon May 06 08:00:00 UTC 2024,已派發任務,0,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,-8373966078912715601,8154604467375388289
1,5,05/06 二郎【多元文化教育－傳說故事】（初階）,中,文學,連續,112,112-2,Mon May 06 08:00:00 UTC 2024,已派發任務,0,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,3516683932418412104,3762301478342295221
2,6,05/09 蚩尤【多元文化教育－傳說故事】（初階）,難,人物,連續,112,112-2,Thu May 09 08:00:00 UTC 2024,已派發任務,0,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,-65799051578279613,4652807748946159405
3,5,05/13 狗狗吃便便【環境教育－動物奇聞】（初階）,中,生活知識,非連續,112,112-2,Mon May 13 08:00:00 UTC 2024,已派發任務,0,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,-6293485111595748020,240621445882253268
4,6,05/16 白蟻跟你想像的不一樣！【環境教育－動物奇聞】（初階）,易,自然科學,連續＋圖表,112,112-2,Thu May 16 08:00:00 UTC 2024,已派發任務,0,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,4998280410504838977,-3340858198738005072

In [5]:
# Filter the DataFrame where 'mission_difficulty' is "難"
filtered_df = df2[df2["mission_difficulty"] == "難"]

# Loop through the filtered DataFrame and print each row
i = 1
for index, row in filtered_df.iterrows():
    i +=1
    if i == 3:
        break
    else:
        print(filtered_df)

         grade                           mission_name mission_difficulty  \
2            6              05/09 蚩尤【多元文化教育－傳說故事】（初階）                  難
29           5  06/17 《隨園食單・須知單》（節錄）【多元文化教育－飲食文化】（初階）                  難
31           5  06/17 《隨園食單・須知單》（節錄）【多元文化教育－飲食文化】（初階）                  難
38           4          06/24 被誤會的塑膠袋？【能源教育－環境保育】（初階）                  難
39           6          06/24 被誤會的塑膠袋？【能源教育－環境保育】（初階）                  難
...        ...                                    ...                ...
1909943      7          04/22 動物園該存在嗎？【環境教育－動物保育】（中階）                  難
1909946      7          04/22 動物園該存在嗎？【環境教育－動物保育】（中階）                  難
1909949      7          04/22 動物園該存在嗎？【環境教育－動物保育】（中階）                  難
1909954      8          04/22 動物園該存在嗎？【環境教育－動物保育】（中階）                  難
1909956      8          04/22 動物園該存在嗎？【環境教育－動物保育】（中階）                  難

        mission_field mission_type  mission_semester_year mission_semester  \
2                  人物           連續                    112            112-2
29                 文學           連續                    112            112-2
31                 文學           連續                    112            112-2
38                 議題           連續                    112            112-2
39                 議題           連續                    112            112-2
...               ...          ...                    ...              ...
1909943            議題          非連續                    112            112-2
1909946            議題          非連續                    112            112-2
1909949            議題          非連續                    112            112-2
1909954            議題          非連續                    112            112-2
1909956            議題          非連續                    112            112-2

                mission_datetime_utc8 mission_status  is_completed  ...  \
2        Thu May 09 08:00:00 UTC 2024          已派發任務             0  ...
29       Mon Jun 17 08:00:00 UTC 2024          已派發任務             0  ...
31       Mon Jun 17 08:00:00 UTC 2024          已派發任務             0  ...
38       Mon Jun 24 08:00:00 UTC 2024          已派發任務             0  ...
39       Mon Jun 24 08:00:00 UTC 2024          已派發任務             0  ...
...                               ...            ...           ...  ...
1909943  Mon Apr 22 08:00:00 UTC 2024          已派發任務             0  ...
1909946  Mon Apr 22 08:00:00 UTC 2024          已派發任務             0  ...
1909949  Mon Apr 22 08:00:00 UTC 2024          已派發任務             0  ...
1909954  Mon Apr 22 08:00:00 UTC 2024          已派發任務             0  ...
1909956  Mon Apr 22 08:00:00 UTC 2024          已派發任務             0  ...

        answer_duration_sec  mission_answer_count  \
2                       NaN                     0
29                      NaN                     0
31                      NaN                     0
38                      NaN                     0
39                      NaN                     0
...                     ...                   ...
1909943                 NaN                     0
1909946                 NaN                     0
1909949                 NaN                     0
1909954                 NaN                     0
1909956                 NaN                     0

         content_indicator_correct_rate  comprehensive_indicator_correct_rate  \
2                                   NaN                                   NaN
29                                  NaN                                   NaN
31                                  NaN                                   NaN
38                                  NaN                                   NaN
39                                  NaN                                   NaN
...                                 ...                                   ...
1909943                             NaN                                   NaN
1909946                             NaN                                   NaN
1909949                             NaN                                   NaN
1909954                             NaN                                   NaN
1909956                             NaN                                   NaN

         explanation_indicator_correct_rate  \
2                                       NaN
29                                      NaN
31                                      NaN
38                                      NaN
39                                      NaN
...                                     ...
1909943                                 NaN
1909946                                 NaN
1909949                                 NaN
1909954                                 NaN
1909956                                 NaN

         extraction_indicator_correct_rate  form_indicator_correct_rate  \
2                                      NaN                          NaN
29                                     NaN                          NaN
31                                     NaN                          NaN
38                                     NaN                          NaN
39                                     NaN                          NaN
...                                    ...                          ...
1909943                                NaN                          NaN
1909946                                NaN                          NaN
1909949                                NaN                          NaN
1909954                                NaN                          NaN
1909956                                NaN                          NaN

         first_correct_rate              user_id           mission_id
2                       NaN   -65799051578279613  4652807748946159405
29                      NaN  5659261515115319851 -1846083354963022384
31                      NaN  -570083966412836310 -1846083354963022384
38                      NaN -3189297556778125580   325126197002900849
39                      NaN   -65799051578279613   325126197002900849
...                     ...                  ...                  ...
1909943                 NaN  4024315604566353377   703618323232836566
1909946                 NaN  -506666874730740645   703618323232836566
1909949                 NaN   568676939790071965   703618323232836566
1909954                 NaN  5090607127449525741   703618323232836566
1909956                 NaN -3633088233029289359   703618323232836566

[302401 rows x 22 columns]

In [6]:
df2.tail()

,grade,mission_name,mission_difficulty,mission_field,mission_type,mission_semester_year,mission_semester,mission_datetime_utc8,mission_status,is_completed,...,answer_duration_sec,mission_answer_count,content_indicator_correct_rate,comprehensive_indicator_correct_rate,explanation_indicator_correct_rate,extraction_indicator_correct_rate,form_indicator_correct_rate,first_correct_rate,user_id,mission_id
1909954,8,04/22 動物園該存在嗎？【環境教育－動物保育】（中階）,難,議題,非連續,112,112-2,Mon Apr 22 08:00:00 UTC 2024,已派發任務,0,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,5090607127449525741,703618323232836566
1909955,8,04/22 人與鼠的戰爭【環境教育－動物保育】（中階）,易,世界櫥窗,連續,112,112-2,Mon Apr 22 08:00:00 UTC 2024,已派發任務,0,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,1122720388891184818,8809938774431070893
1909956,8,04/22 動物園該存在嗎？【環境教育－動物保育】（中階）,難,議題,非連續,112,112-2,Mon Apr 22 08:00:00 UTC 2024,已派發任務,0,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,-3633088233029289359,703618323232836566
1909957,8,4月特別任務－【SDGs 議題】（中階）,NaN,NaN,NaN,112,112-2,Mon Apr 22 08:00:00 UTC 2024,已派發任務,0,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,-3198336096824660439,-371611706378504607
1909958,9,4月特別任務－【SDGs 議題】（中階）,NaN,NaN,NaN,112,112-2,Mon Apr 22 08:00:00 UTC 2024,已派發任務,0,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,8248998181802054321,-371611706378504607

In [7]:
a = df2.columns
a_series = a.to_series()
print(a_series)
a_series.to_csv('work1.csv', index = False)

grade                                                                  grade
mission_name                                                    mission_name
mission_difficulty                                        mission_difficulty
mission_field                                                  mission_field
mission_type                                                    mission_type
mission_semester_year                                  mission_semester_year
mission_semester                                            mission_semester
mission_datetime_utc8                                  mission_datetime_utc8
mission_status                                                mission_status
is_completed                                                    is_completed
completed_at_utc8                                          completed_at_utc8
correct_rate                                                    correct_rate
answer_duration_sec                                      answer_duration_sec
mission_answer_count                                    mission_answer_count
content_indicator_correct_rate                content_indicator_correct_rate
comprehensive_indicator_correct_rate    comprehensive_indicator_correct_rate
explanation_indicator_correct_rate        explanation_indicator_correct_rate
extraction_indicator_correct_rate          extraction_indicator_correct_rate
form_indicator_correct_rate                      form_indicator_correct_rate
first_correct_rate                                        first_correct_rate
user_id                                                              user_id
mission_id                                                        mission_id
dtype: object

In [8]:
b = df2.describe()
print(b)
b.to_excel('bigData.xlsx', index = False)

              grade  mission_semester_year  is_completed   correct_rate  \
count  1.909959e+06              1909959.0  1.909959e+06  454877.000000
mean   5.949924e+00                  112.0  2.381606e-01       0.412165
std    1.586873e+00                    0.0  4.259580e-01       0.317815
min    4.000000e+00                  112.0  0.000000e+00       0.000000
25%    5.000000e+00                  112.0  0.000000e+00       0.200000
50%    6.000000e+00                  112.0  0.000000e+00       0.400000
75%    7.000000e+00                  112.0  0.000000e+00       0.600000
max    9.000000e+00                  112.0  1.000000e+00       1.000000

       answer_duration_sec  mission_answer_count  \
count        453620.000000          1.909959e+06
mean            147.150187          7.111859e-01
std             328.610611          1.676427e+00
min               1.000000          0.000000e+00
25%              10.000000          0.000000e+00
50%              37.000000          0.000000e+00
75%             176.000000          1.000000e+00
max            3600.000000          2.100000e+02

       content_indicator_correct_rate  comprehensive_indicator_correct_rate  \
count                   106038.000000                         448856.000000
mean                         0.377652                              0.414174
std                          0.475326                              0.401837
min                          0.000000                              0.000000
25%                          0.000000                              0.000000
50%                          0.000000                              0.333333
75%                          1.000000                              0.857143
max                          1.000000                              1.000000

       explanation_indicator_correct_rate  extraction_indicator_correct_rate  \
count                       392142.000000                      414331.000000
mean                             0.385411                           0.438963
std                              0.446032                           0.455068
min                              0.000000                           0.000000
25%                              0.000000                           0.000000
50%                              0.000000                           0.333333
75%                              1.000000                           1.000000
max                              1.000000                           1.000000

       form_indicator_correct_rate  first_correct_rate       user_id  \
count                 78801.000000       473392.000000  1.909959e+06
mean                      0.375179            0.451405 -5.836128e+15
std                       0.482087            0.316127  5.341203e+18
min                       0.000000            0.000000 -9.223321e+18
25%                       0.000000            0.200000 -4.611004e+18
50%                       0.000000            0.400000  6.201597e+16
75%                       1.000000            0.600000  4.565403e+18
max                       1.000000            1.000000  9.218903e+18

         mission_id
count  1.909959e+06
mean  -1.368036e+17
std    5.285432e+18
min   -9.144214e+18
25%   -4.782878e+18
50%   -2.337655e+17
75%    3.909487e+18
max    9.217426e+18

In [9]:
df2.sort_index(axis=1,ascending=False)

,user_id,mission_type,mission_status,mission_semester_year,mission_semester,mission_name,mission_id,mission_field,mission_difficulty,mission_datetime_utc8,...,grade,form_indicator_correct_rate,first_correct_rate,extraction_indicator_correct_rate,explanation_indicator_correct_rate,correct_rate,content_indicator_correct_rate,comprehensive_indicator_correct_rate,completed_at_utc8,answer_duration_sec
0,-8373966078912715601,連續,已派發任務,112,112-2,05/06 虎姑婆【多元文化教育－傳說故事】（初階）,8154604467375388289,文學,易,Mon May 06 08:00:00 UTC 2024,...,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3516683932418412104,連續,已派發任務,112,112-2,05/06 二郎【多元文化教育－傳說故事】（初階）,3762301478342295221,文學,中,Mon May 06 08:00:00 UTC 2024,...,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,-65799051578279613,連續,已派發任務,112,112-2,05/09 蚩尤【多元文化教育－傳說故事】（初階）,4652807748946159405,人物,難,Thu May 09 08:00:00 UTC 2024,...,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,-6293485111595748020,非連續,已派發任務,112,112-2,05/13 狗狗吃便便【環境教育－動物奇聞】（初階）,240621445882253268,生活知識,中,Mon May 13 08:00:00 UTC 2024,...,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4998280410504838977,連續＋圖表,已派發任務,112,112-2,05/16 白蟻跟你想像的不一樣！【環境教育－動物奇聞】（初階）,-3340858198738005072,自然科學,易,Thu May 16 08:00:00 UTC 2024,...,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1909954,5090607127449525741,非連續,已派發任務,112,112-2,04/22 動物園該存在嗎？【環境教育－動物保育】（中階）,703618323232836566,議題,難,Mon Apr 22 08:00:00 UTC 2024,...,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1909955,1122720388891184818,連續,已派發任務,112,112-2,04/22 人與鼠的戰爭【環境教育－動物保育】（中階）,8809938774431070893,世界櫥窗,易,Mon Apr 22 08:00:00 UTC 2024,...,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1909956,-3633088233029289359,非連續,已派發任務,112,112-2,04/22 動物園該存在嗎？【環境教育－動物保育】（中階）,703618323232836566,議題,難,Mon Apr 22 08:00:00 UTC 2024,...,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1909957,-3198336096824660439,NaN,已派發任務,112,112-2,4月特別任務－【SDGs 議題】（中階）,-371611706378504607,NaN,NaN,Mon Apr 22 08:00:00 UTC 2024,...,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1909958,8248998181802054321,NaN,已派發任務,112,112-2,4月特別任務－【SDGs 議題】（中階）,-371611706378504607,NaN,NaN,Mon Apr 22 08:00:00 UTC 2024,...,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df2["mission_status"][0:3]

0    已派發任務
1    已派發任務
2    已派發任務
Name: mission_status, dtype: object

In [11]:
a = 'grade'
k = df2.duplicated(subset=[a]).sum()
print(k)

1909953

In [12]:
# 先按 mission_difficulty 分組，並統計每個分組的數量
difficulty_counts = df2.groupby("grade").size()

# 輸出結果
print(difficulty_counts)

grade
4    428520
5    438802
6    397674
7    265140
8    204410
9    175413
dtype: int64

In [32]:
with open("times3.txt",'w',encoding='utf-8') as f:
    f.write(str(difficulty_counts))
    f.close

In [25]:
df_DiffAndPass = df2[['correct_rate', 'mission_difficulty']].dropna()
df_DiffAndPass.tail()

         correct_rate mission_difficulty
1909904           0.4                  難
1909905           0.2                  易
1909909           0.0                  難
1909913           0.2                  易
1909917           0.2                  難